<%graphql
  fragment Viewer on User {
    repositories(first: 10) {
      totalCount
      ...Views::Repositories::Repositories::RepositoryConnection
    }
  }
%>
<% viewer = Views::Repositories::Index::Viewer.new(viewer) %>

<div class="repositories">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Your repositories</strong>
      <span class="badge"><%= viewer.repositories.total_count %></span>
    </li>

    <%= render "repositories/repositories", repositories: viewer.repositories %>
  </ul>
</div>
