<p><a href="/repositories">Back</a></p>

<h1>
  <%= repository["owner"]["login"] %>/<%= repository["name"] %>

    
  <span class="glyphicon glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
  <%= repository["stars"]["totalCount"] %>
</h1>
